<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Book</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Edit Book</h1>
  <form action="/books/<%= book.book_id %>?_method=PUT" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>"><br>

    <label for="author_id">Author ID:</label>
    <input type="text" id="author_id" name="author_id" value="<%= book.author_id %>"><br>

    <label for="genre_id">Genre ID:</label>
    <input type="text" id="genre_id" name="genre_id" value="<%= book.genre_id %>"><br>

    <label for="publication_year">Publication Year:</label>
    <input type="text" id="publication_year" name="publication_year" value="<%= book.publication_year %>"><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>"><br>

    <button type="submit">Save Changes</button>
     <!-- Button to return to the root page -->
  <a href="/" style="text-decoration: none; padding: 8px 12px; background-color: #007bff; color: #fff; border-radius: 5px;">Return to Book List</a>
  </form>
</body>
</html>